.room-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: center;
    padding: 50px;
    gap: 100px;
}

.create-room {
    text-align: left;
    padding-bottom: 10px;
}

.form-class {
    .submit-button {
        margin-left: 20px;
    }
}

.cursor {
    cursor: pointer;
}