<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container *ngFor="let col of displayedColumns" matColumnDef="{{col}}">
        <th mat-header-cell *matHeaderCellDef>{{col}}</th>
        <ng-container [ngSwitch]="col">
            <ng-container *ngSwitchCase="'actions'">
              <th mat-header-cell *matHeaderCellDef ></th>
              <td mat-cell *matCellDef="let row">
                <mat-icon class="cursor" (click)="onRemove(row)">delete_outline</mat-icon>
                <mat-icon class="cursor" (click)="viewDetails(row)">insert_comment</mat-icon>
            </td>
            </ng-container>
            <ng-container *ngSwitchDefault>
                <td mat-cell *matCellDef="let element">{{element[col]}}</td>
            </ng-container>
          </ng-container>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>